<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    package="com.bin.kndle"
    android:versionCode="1"
    android:versionName="v1.0">

    <!-- 获取设备信息 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true"/>

    <!-- 权限 -->
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 允许程序访问Wi-Fi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!-- 允许程序获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- 允许程序读取或写入系统设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 允许一个程序修改当前设置，如本地化 -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <!-- 读取设备外部存储空间（内置SDcard和外置SDCard）的文件 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 写入设备外部存储空间（内置SDcard和外置SDCard）的文件 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 请求访问使用照相设备 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 允许应用去呼叫killBackgroundProcesses()方法 -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <!-- 写入设备外部存储空间（内置SDcard和外置SDCard）的文件 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:screenOrientation="portrait"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.LauncherActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeWTN">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--主界面-->
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeWTN">
        </activity>

        <!--登录-->
        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeN">
        </activity>

        <!--注册-->
        <activity
            android:name=".activity.RegisterActivity"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeN">
        </activity>

    </application>

</manifest>
